:root {

    --azul-menu: #37367a;
    --azul-lista: #434291;
    --azul-selecao: #37366f;

    --fonte-padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

* {
    font-family: var(--fonte-padrao);   
}

body {
    margin: 0;
    padding: 0;
}

.logout {
    text-align: center;
}

.logout button {
    border-radius: 5px;
    background-color: var(--azul-lista);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.525);
    cursor: pointer;
}

.logout button:hover {
    background: var(--azul-selecao);
    font-weight: bold;
}


#toggleButton {
    position: fixed;
    top: 10px;
    left: 6px;
    z-index: 999;
    background-color: var(--azul-lista);
    border: solid rgba(255, 255, 255, 0.525) 1px;
    border-radius: 5px;
    cursor: pointer;
    
}

#toggleButton:hover {
    background: var(--azul-selecao);
}

#toggleButton img {
    padding-top: 5px;
}

.sidebar {
    width: 250px;
    background: var(--azul-menu);
    color: #fff;
    position: fixed;
    height: 100%;
    transition: left 0.2s linear;
    left: -200px;
    display: flex;
    flex-direction: column;

}

.sidebar.active {
    left: 0;
}

.logo {
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.menu {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu li {
    padding: 15px;
    background-color: var(--azul-lista);
    width: 130px;
    height: 55px;
    padding: 0px;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 5px;
}

.menu li:hover {
    background: var(--azul-selecao);
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    align-items: center;
    height: 55px;
    padding-top: 0px;
    display: grid;
    border: 1px solid rgba(255, 255, 255, 0.525);
    border-radius: 5px;

}

#content {
    padding-top: 2%;
    text-align: center;
    align-items: center;
}

li {
    margin-inline-start: 25%;
}

#content img{
    padding: 3px;
}

.mensagem{
    display:none;
    position:absolute;
    top: 20%;
    left:50px;
    right:0;
    margin: auto;
    width:70px;
    height:15px;
    background-color: rgba(204, 203, 193, 0.782);
    border-radius: 5px 0px;
    color: black;
    font-size: 10px;
}

footer {
    font-size: 8px;
    text-align: center;
    font-style: italic;
    margin-top: auto;
    padding: 10px;
}

footer > img {
    width: 8px;
}
